---
import LandingHeader from "../components/LandingHeader.astro"
import Layout from "../layouts/Layout.astro"

import CocktailCard from "../components/CocktailCard.astro"
---


<Layout title="Cocktail Display">
    <LandingHeader />
    <div class="py-20">

    </div>
    <main>
        <div class="flex flex-column px-10 py-10">
    
            <CocktailCard />
        </div>
    </main>

</Layout>