---
import Layout from '../layouts/Layout.astro';
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Index from './index.astro';
import Register from './register.astro';
import Card from '../components/Card.astro';
import { supabase } from '../lib/supabase.js';


/*
interface Props {
  allCocktails: any;
}

let { data: cocktails, error } = await supabase
  .from('cocktails')
  .select('*')
  console.log(cocktails, error)
*/


---
<!-- Base de la pagina
	Este es el Index, osea todo reside dentro de este archivo
-->

<Layout title="TaurosCocktails">
	<link rel="stylesheet" href="">

	<LandingHeader />
	<!--Este main contiene todo el contenedor central con los
		componentes
	-->
	<main>
		
		<div class="flex flex-col">
			<HeroSection />
			<ViewTransitions />
		</div>
		<div class="flex flex-col">
			<ChargeSection />
			<ViewTransitions />
		</div>
		<div class="flex flex-col">
			<ViewTransitions />
		</div>
	</main>
</Layout>

<scrip>

</scrip>