---
import Layout from '../layouts/Layout.astro';
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
//import ViewTransitions from 'astro/components/ViewTransitions.astro';
import { supabase } from '../lib/supabase.js';
/*
interface Props {
  allCocktails: any;
}

let { data: cocktails, error } = await supabase
  .from('cocktails')
  .select('*')
  console.log(cocktails, error)
*/


---


<Layout title="TaurosCocktails">
	<LandingHeader />
	
	<main>
		<div class="flex flex-col">
			<HeroSection />
		</div>
	</main>
</Layout>
