---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/#");
}
---
<Layout title="SignIn">

<main class="min-h-screen flex flex-col items-center justify-center bg-slate-300">
  <div class="py-3 px-10 flex flex-col items-center w-full text-center">
    <h1 class="text-2xl font-bold mb-2">Sign in</h1>
    <p>New here? <a href="/register" class="text-blue-500 underline">Create an account</a></p>
  </div>
  
  <form action="/api/auth/signin" method="post" class="bg-slate-600 p-6 rounded-lg shadow-md w-80">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-200">Email</label>
      <input type="email" name="email" id="email" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" />
    </div>
    <div class="mb-6">
      <label for="password" class="block text-sm font-medium text-gray-200">Password</label>
      <input type="password" name="password" id="password" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" />
    </div>
    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition">Login</button>
  </form>
</main>
</Layout>
